.img-thumbnail{
  width: 180px;
  height: 150px;
}
.sidelist{
  position: relative;
}
.image{
  display: inline-block;
}

.thumbnailTitle
{
  margin-left: 5px;
  display: inline-block;
  position: absolute;
  top: 0;

}
.listTitle{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: large;
}
.listitem{
  display: block;
}
