.main-display{
  position: absolute;
  margin-top: 4rem;
  margin-left: 250px;
  padding: 6px;
  width: 100%;
  transition: margin-left 250ms ease-in;
}


.display-area-shrink{
  margin-left: 60px ;
}

