.videoDetail{
  margin-left: 25px;
  margin-top: 25px;
  height: 500px;
  width: 600px;
}

.videoDetailItems{
  display: flex;
  align-items: center;
}

.mat-title{
  margin-top: 10px ;
  margin-bottom: 2px;
  font-size: 20px;
  font-weight: bold;
}

.separator{
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: black;
  display: inline-block;
}
.like-dislike-section{
  margin-right: 15px;
}

.subscribeElements{
  display: inline-flex;
}

.subscribeButton{
  margin-left: 10px;
}

